#buttons-div {
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 4px;
  display: inherit;
  padding: 5px;
  z-index: 1;
}

.card {
  cursor: pointer;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  width: 60%;
}

.dark-fg {
  transition: all 0.3s;
  color: #ffffff;

  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    inset 0px -50px 50px 13px rgb(0 0 0 / 0%),
    inset 0px -209px 77px -73px rgb(0 0 0 / 65%);
}

.dark-fg > * {
  transition: transform 2s;
}

#modal {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.651);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
}

.svg-button {
  padding: 2px;
}

.dark-fg:hover {
  transition: all 0.5s;
  color: #ffffff;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    inset 0px -50px 50px 13px rgb(0 0 0 / 0%),
    inset 0px -209px 77px -73px rgb(0 0 0 / 75%);
}

.dark-fg:hover > * {
  transition: transform 2s;

  transform: translateY(-5px);
}

#edit-svg:hover > svg {
  fill: rgb(88, 155, 255);
}

#trash-svg:hover > svg {
  fill: rgb(255, 72, 72);
}
